{% extends "base.html" %}
{% load static %}
{% block head %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{% static 'users/css/styles.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'css/styles.css' %}" type="text/css">
{% endblock head %}

{% block content %}
<h1>Авторизация</h1>
<div class="sign-card">
    <form method="post">
        {% csrf_token %}
        {{form.as_ul}}
        <button type="submit">Войти</button>
    </form>
    <a href="{% url 'users:sign_up' %}">Нет аккаунта?</a>
</div>
{% endblock content %}