{% extends "base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'users/css/styles.css' %}">

<h1>Привет, {{request.user.username}}!</h1>

<div class="main-container">
    <!-- Блок создания артиста -->
    <div class="artist-creation">
        <h3>Аритист? Подавай заявку на карточку музыканта!
            <a href="{% url 'music:create_artist' %}">Создать карточку!</a>
        </h3>
    </div>

    <h3>Страницы артистов</h3>
    <div class="artist-list">
        {% if artists %}
        <div class="my-artists">
            {% for artist in artists %}
            <a href="{% url 'music:artist_detail' artist_id=artist.id %}">
                <img class="my-artist-img" src="{{ artist.image.url }}" alt="{{artist.name}}">
            </a>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    <div class="profile-buttons">
        <div class="listening-history">
            <a class="listening-history-link" href="{% url 'music_statistics:listening_history' user_id=user.id %}">
                История прослушиваний
            </a>
        </div>
        <div class="liked-artists">
            <a class="liked-artists-link" href="{% url 'music_statistics:user_liked_artists' %}">
                Любимые артисты
            </a>
        </div>
    </div>
    <div class="logout-section">
        <form action="{% url 'users:sign_out' %}" method="post">
            {% csrf_token %}
            <button type="submit">Выйти</button>
        </form>
    </div>
</div>

{% endblock content %}