{% extends "base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'users/css/styles.css' %}">
<h1>Привет, {{request.user.username}}!</h1>
<div>
    <div>
        <h3>Аритист? Подавай заявку на карточку музыканта! <a href="{% url 'music:create_artist' %}">Создать
                карточку</a></h3>

    </div>
    <div>
        <h3>Страницы артистов</h3>
        {% if artists %}
        {% for artist in artists %}
        <div class="my-artists">
            <a href="{% url 'music:artist_detail' artist_id=artist.id %}">
                <img class="my-artist-img" src="{{ artist.image.url }}" alt="{{artist.name}}"></a>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    <div>
        <form action="{% url 'users:sign_out' %}" method="post">
            {% csrf_token %}
            <button type="submit">Выйти</button>
        </form>
    </div>
</div>

{% endblock content %}