{% extends "base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'music_statistics/css/styles.css' %}">
<link rel="stylesheet" href="{% static 'music/css/styles.css' %}">

<div class="liked-artists-container">
    {% for artist in artists %}
    <div class="liked-artist-card">
        <a href="{% url 'music:artist_detail' artist.id %}">
            <div class="liked-artist-image-wrapper">
                <img class="liked-artist-image" src="{{ artist.image.url }}" alt="{{ artist.name }}">
            </div>
            <p class="liked-artist-name">{{ artist }}</p>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}