{% extends "base.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'music/css/styles.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'css/styles.css' %}" type="text/css">
{% endblock head %}
{% block content %}
<div>
    {% if messages %}
    <div class="messages">
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}
    <div>
        <div class="artist-header">
            <div class="artist-image-container">
                <img class="profile-image" src="{{ artist.image.url }}" alt="{{ artist.name }}">
            </div>
            <div class="artist-info">
                <span style="opacity: 50%;">Исполнитель</span>
                <h1>{{ artist.name }}</h1>
                <div>
                    <p>
                        <span><strong>{{ month_listeners_count }} cлушателей в месяц</strong></span>
                    </p>
                </div>
                <p>{{ artist.bio }}</p>
            </div>
            <div class="artist-actions">
                <form action="{% url 'music:follow_artist' artist_id=artist.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="profile-like-link">
                        <img src="{% static 'icons/heart.png' %}" alt="Лайк" class="icon" width="22" height="22">
                    </button>
                </form>

                <a class="profile-follow-link" href="#">
                    <img src="{% static 'icons/sub_bell.png' %}" alt="Подписаться" class="icon" width="24" height="24">
                </a>

            </div>
        </div>


        <div>
            {% if popular_tracks %}

            <div>
                <h2>Популярные треки</h2>
                <div class="track-list">
                    {% for track in popular_tracks %}
                    <div class="track-item" data-audio="{{ track.audio_file.url }}" data-title="{{ track.title }}"
                        data-artist="{{ track.artist }}">

                        <div class="track-info">
                            <button class="play-button-artist">▶️</button>
                            <span class="track-title">{{ track.title }}</span>
                        </div>
                        <audio controls preload="none">
                            <source src="{% url 'music:stream_audio' track.id %}" type="audio/mpeg">
                            Your browser does not support the audio element.
                        </audio>


                        <form action="{% url 'music:manage_track' track.id %}" method="post" class="like-form">
                            {% csrf_token %}
                            <button type="submit" name="action"
                                value="{% if track in liked_tracks %}unlike{% else %}like{% endif %}"
                                class="like-button">
                                ♥
                            </button>
                        </form>
                    </div>
                    {% endfor %}
                </div>

                <!-- Глобальный плеер -->
                <div id="bottom-player" style="display: none;">
                    <div id="player-info">
                        <span id="player-title"></span> — <span id="player-artist"></span>
                    </div>
                    <audio preload="metadata" id="global-audio" controls autoplay></audio>
                </div>


            </div>



        </div>
        {% else %}
        <div>
            <div>🎵</div>
            <p>У тебя пока нет треков. Создай свой первый трек!</p>
        </div>
        {% endif %}
        {% if albums %}

        <h2>Последние релизы</h2>
        <div class="albums-list">
            {% for album in albums %}
            <a class="album-detail" href="{% url 'music:album_detail' album.id %}">
                <div class="album-list-data">
                    <img class="profile-album-cover" src="{{ album.image.url }}" alt="{{ album.name }}">
                    <div class="album-profile-info">
                        <h3 class="album-title">{{ album.title }}</h3>
                        <p>{{ album.artist }}</p>
                        <p>{{ album.release_date|date:"Y" }}</p>
                    </div>
                </div>
            </a>
            {% endfor %}

        </div>
        {% endif %}
        {% if artist.user == request.user %}
        <div class="release-manage">
            <h2>Управление релизами</h2>
            <div class="manage-buttons">
                <a class="manage-button" href="{% url 'music:create_album' artist_id=artist.id %}">
                    Создать альбом
                </a>
                <a class="manage-button" href="{% url 'music:create_track' pk=artist.id %}">
                    Создать сингл
                </a>
            </div>
            {% endif %}
        </div>
    </div>
</div>
<script src="{% static 'music/js/script.js' %}"></script>
</div>

{% endblock content %}