{% extends "base.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'music/css/styles.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'css/styles.css' %}" type="text/css">
{% endblock head %}
{% block content %}
<div class="form-wrapper">
    <form action="{% url 'music:create_album' artist_id=artist_id %}" method="post" enctype="multipart/form-data"
        class="album-form">
        {% csrf_token %}
        <h2 class="form-title-create-album">Создание альбома</h2>
        <div class="form-fields">
            {{ form.as_p }}
        </div>
        <button type="submit" class="submit-button">Создать альбом</button>
    </form>
</div>
{% endblock content %}