{% extends "base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'music/css/styles.css' %}">
<h1>Мои плейлисты</h1>

{% if playlists %}
<ul class="my-playlists-list">
    {% for playlist in playlists %}
    <li class="playlist-item">
        <div class="my-playlist-image">
            <a href="{% url 'music:playlist_detail' playlist_id=playlist.id %}">
                <img src="{{ playlist.image.url }}" alt="Обложка плейлиста">
            </a>
        </div>
        <p style="text-align: center; margin-top: 10px;">
            <a href="{% url 'music:playlist_detail' playlist_id=playlist.id %}">
                {% if playlist.is_liked_playlist %}
                <span>Мне нравится</span>
                {% else %}
                {{ playlist.title }}
                {% endif %}
            </a>
        </p>
    </li>
    {% endfor %}
</ul>
{% else %}
<h2>У тебя нет плейлистов</h2>
{% endif %}

<a class="create-playlist-btn" href="{% url 'music:create_playlist' %}">
    Создать плейлист
</a>
{% endblock content %}