{% extends "base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'music/css/styles.css' %}">
<div>
    <div>
        <!-- Обложка плейлиста -->
        <div>
            <div>
                <img src="{{ playlist.image.url }}" alt="Обложка плейлиста">
                <div>
                    <span>{{ playlist.tracks.count }} треков</span>
                </div>
            </div>
        </div>

        <!-- Информация о плейлисте -->
        <div>
            <h1>{{ playlist.title }}</h1>
            <!-- Кнопки управления -->
            {% if request.user == playlist.owner %}
            <div>
                <form action="{% url 'music:delete_playlist' playlist_id=playlist.id %}" method="post">
                    {% csrf_token %}
                    <button class="delete-playlist-button" type="submit">Удалить</button>
                </form>
                <form action="{% url 'music:update_playlist' playlist_id=playlist.id %}" method="get">
                    {% csrf_token %}
                    <button class="update-playlist-button" type="submit">Изменить</button>
                </form>
            </div>
            {% endif %}
        </div>
    </div>

    <!-- Список треков -->
    <div>
        <div>
            <h2>Треки в плейлисте</h2>

            {% if playlist.tracks.all %}
            <div>
                {% for track in playlist.tracks.all %}
                <div>
                    <!-- Номер трека -->
                    <span>#{{ forloop.counter }}</span>

                    <!-- Информация о треке -->
                    <div><img src="{{track.image.url}}" alt="track_cover"></div>
                    <div>
                        <div><a href="#">{{ track.title }}</a></div>
                        <div>
                            <a href="{% url 'music:artist_detail' artist_id=track.artist.id %}">
                                {{ track.artist.name }}
                            </a>
                            • {{ track.duration|time:"H:i:s"}}
                        </div>
                    </div>

                    <!-- Аудиоплеер -->
                    <audio controls>
                        <source src="{{ track.audio_file.url }}" type="audio/mpeg">
                        Ваш браузер не поддерживает аудиоплеер.
                    </audio>
                </div>
                {% endfor %}
            </div>
            {% else %}
            <div>
                <p>В этом плейлисте пока нет треков</p>
            </div>
            {% endif %}
        </div>
    </div>


</div>

{% endblock content %}