{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}" type="text/css">
        {% endblock head %}
        <title>{% block title %}Music{% endblock title %}</title>
    </head>
    <body>
        <nav class="sidebar">
            {% block navbar %}
            {% if request.user %}
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'main' %}">Главная</a>
                </li>
                {% if not request.user.is_anonymous %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'users:profile' pk=request.user.id %}">Профиль</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'users:sign_in'%}">Войти</a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="">Коллекция</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Поиск</a>
                </li>
            </ul>
            {% else %}
            <a class="btn-custom" href="{% url 'users:sign_in' %}">Войти</a>
            {% endif %}
            {% endblock navbar%}
        </nav>

        <main class="content">
            {% block content %}
            {% endblock content %}
        </main>
    </body>
</html>